.container {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.road {
  height: 200px !important;
  width: 100%;
  background-color: gray;
  position: relative;
}

.main-stopline--bottom {
  position: absolute;
  width: 10px;
  height: 40%;
  background-color: white;
  left: 37%;
  bottom: 4px;
  transform: translateX(-50%);
}

.main-stopline--top {
  position: absolute;
  width: 10px;
  height: 35%;
  background-color: white;
  transform: translateX(-50%);
  right: 28%;
  top: 4px;
}

.main-pedestrian {
  position: absolute;
  width: 50px;
  height: 100%;
  background-color: white;
  left: 64%;
  transform: translateX(-50%);
}

.side-stopline {
  position: absolute;
  width: 85px;
  height: 10px;
  background-color: white;
  left: 52%;
  top: 33px;
}

.sideRoad {
  width: 200px;
  height: 300px;
  background-color: gray;
  position: relative;
}

.main-traffic-light {
  position: absolute;
  width: 20px;
  height: 80px;
  background-color: black;
  left: 50%;
  top: -90px;
  transform: translateX(-50%);
}

.pedestrian-button {
  transform: rotate(-90deg);
  height: 100%;
  width: 100%;
}

.pedestrian-traffic-light {
  position: absolute;
  width: 20px;
  height: 55px;
  background-color: black;
}

.pedestrian-traffic-light-top {
  top: -58px;
  transform: rotate(180deg);
}

.pedestrian-traffic-light-bottom {
  bottom: -65px;
  left: 32px;
}

.pedestrian-traffic-light .bulb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px auto;
  opacity: 0.2;
}

.pedestrian-traffic-light .bulb.active {
  opacity: 1;
}

.pedestrian-traffic-light .red {
  background-color: red;
}

.pedestrian-traffic-light .green {
  background-color: green;
}

.traffic-light-bottom {
  top: 65px;
  transform: rotate(90deg);
}

.traffic-light-top {
  top: -65px;
  transform: rotate(270deg);
}

.main-traffic-light .bulb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px auto;
  opacity: 0.2;
}

.main-traffic-light .bulb.active {
  opacity: 1;
}

.main-traffic-light .red {
  background-color: red;
}

.main-traffic-light .yellow {
  background-color: yellow;
}

.main-traffic-light .green {
  background-color: green;
}

.side-traffic-light {
  position: absolute;
  width: 20px;
  height: 80px;
  background-color: black;
  left: 140%;
  top: -24px;
  transform: translateX(-50%);
}

.side-traffic-light .bulb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px auto;
  opacity: 0.2;
}

.side-traffic-light .bulb.active {
  opacity: 1;
}

.side-traffic-light .red {
  background-color: red;
}

.side-traffic-light .yellow {
  background-color: yellow;
}

.side-traffic-light .green {
  background-color: green;
}